<ion-content class="ion-padding">
  <!-- Image -->
  <div class="image-container">
    <ion-img src="../../../assets/scooter.jpg"></ion-img>
  </div>

  <!-- Message -->
  <div class="message-container">
    <h1>O delivery <span class="text-warning">mais rápido</span>
      <br>Big Mercado<br><span class="text-danger">em casa</span>
    </h1>
  </div>

  <!-- Buttons -->
  <div>
    <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Login</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/register">Registrar</ion-button>
  </div>

  <!-- Other Logins -->
  <div class="socio-login-container">
    <p>Logue tambem com as redes sociais</p>
    <div class="socials">
      <div class="socio-icon">
        <ion-img src="../../../assets/google.png"></ion-img>
      </div> <!-- Google -->
      <div class="socio-icon">
        <ion-img src="../../../assets/facebook.png"></ion-img>
      </div> <!-- Facebook -->
    </div>
  </div>
</ion-content>