<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/onboarding"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Login</h1>
    <p>Use seu email e senha para logar</p>
  </div>

  <form>
    <div class="form-field">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder="Email"></ion-input>
    </div>

    <div class="form-field">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Senha" type="password"></ion-input>
    </div>

    <ion-button expand="block" routerLink="/home">Login</ion-button>

    <div class="forgot-password">
      <a routerLink="/forgot-password">Esqueceu sua senha?</a>
    </div>
  </form>
</ion-content>