<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/onboarding"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Registro</h1>
    <p>Crie sua conta:</p>
  </div>

  <form>
    <div class="form-field">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input placeholder="Nome"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder="Email"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="call-outline"></ion-icon>
      <ion-input placeholder="Numero de telefone"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Senha" type="password"></ion-input>
    </div>

    <ion-button expand="block">Concluido</ion-button>
  </form>
</ion-content>