<ion-content class="ion-padding">
  <!-- HEADER -->
  <div id="header" class="ion-margin-bottom">
    <ion-icon id="menu-icon" name="grid-outline"></ion-icon>
    <div id="location">
      <ion-icon name="location"></ion-icon>
      <h4 class="ion-no-margin">Belo Horizonte</h4>
    </div>
    <div id="avatar">
      <ion-img src="../../../assets/avatar.png"></ion-img>
    </div>
  </div>

  <!-- SEARCHBAR -->
  <div id="searchbar">
  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
  </div>
  <!-- BANNER -->
  <div id="banner">
    <ion-img src="../../../assets/banner.jpg"></ion-img>
  </div>

  <!-- CATEGORIES -->
  <div class="list-title">
    <h3 class="title">Categorias:</h3>
  </div>

  <ion-slides [options]="slidesOptions">
    <ion-slide *ngFor="let item of categories">
      <category-item [category]="item"></category-item>
    </ion-slide>
  </ion-slides>

  <!-- EXCLUSIVE OFFER -->
  <div class="list-title">
    <h3 class="title">Ofertas do dia:</h3>
    <a href="">Ver Todas</a>
  </div>

  <div class="product-list">
    <product-card [routerLink]="'/detail/'+product.id" *ngFor="let product of products"
      [product]="product"></product-card>
  </div>
</ion-content>